body{
    font-family: 'Raleway', sans-serif;
     color: #1a1a1a;
         background-color: pink;
         line-height: 1.5;
        font-size: 100%;
        margin: 0;
}
body {
    background-color: powderblue;
  }
  h1 {
    color: darkred;
  }
  p {
    color: black;
  }